# ==================================================
#
# IntelliJ IDEA
# ==================================================
.idea/
*.iml

# ==================================================
# Maven / Spring Boot
# ==================================================
**/target/

# ==================================================
# Node.js / React
# ==================================================
**/node_modules/
**/dist/

# ==================================================
# Environment files
# ==================================================
#!.env
#.env.*
#!.env.example

# ==================================================
# Logs
# ==================================================
*.log
#------